<hr>
<h2>Edit <%= @gymclass.gymclass_name %></h2>
<hr>
<form method="post" action="/gymclasses/<%= @gymclass.id %>">

<label for="gymclass_name">Name:</label>
  <input
  type="text" name="gymclass_name"id="gymclass_name" value ="<%= @gymclass.gymclass_name%>" />
<label for="instructor_select">Instructor:</label>
<select type="text" name="instructor" id ="instructor">>
<option value="Alex">Alex</option>
<option value="Colin">Colin</option>
<option value="Del">Del</option>
<option value="Sian">Sian</option>
</select>
<br>
<br>
  <label for="capacity">Capacity:</label>
    <input type="number" name="capacity" id="capacity" value ="<%= @gymclass.capacity%>"/>
<br>
<br>
  <label for="start_time">Start Time:</label>
  <input type="text" name="start_time" id="start_time" value ="<%= @gymclass.start_time%>"/>
<br>
<br>
  <label for="end_time">End Time:</label>
  <input type="text" name="end_time" id="end_time" value ="<%= @gymclass.end_time%>"/>
<br>
<br>
<label for="member_tier">Gender:</label>

  <input type="radio" name="member_tier" value="Premium" <%="checked" if @gymclass.member_tier == "Premium" %>> Premium
  <input type="radio" name="member_tier" value="Basic"<%="checked" if @gymclass.member_tier == "Basic" %>> Basic
<br>
  <input type="submit" value="Submit updated class details">

</form>

<hr>
