<hr>
<h2>Gym Classes</h2>
<hr>

<table>
  <tr>
    <th>Class</th>
    <th>Capacity</th>
    <th>Availability</th>
    <th>Instructor</th>
    <th>Start Time</th>
    <th>Membership Tier</th>
    <th>Bookings</th>
  </tr>
  <% for gymclass in @gymclasses %>
  <tr>
    <td align = "center"><%= gymclass.gymclass_name %></td>
    <td align = "center"><%= gymclass.capacity %></td>
    <td align = "center"><%= gymclass.capacity - BookedClass.attendees(gymclass.id) %></td>
    <td align = "center"><%= gymclass.instructor %></td>
    <td align = "center"><%= gymclass.start_time %></td>
    <td align = "center"><%= gymclass.member_tier %></td>
    <td><form action="/gymclasses/<%= gymclass.id %>"><input type="submit" value="Class Details"></form></td>


  </tr>

  <% end %>
</table>

<br>

<form method="post" action="/bookedclasses">

<hr>
  <h2>Booking</h2>
  <hr>

  <label for="member_select">Member:</label>
    <select
    type="number" name="member_id" id="member_id"
    <% @members.each do |member| %>
    <option value="<%= member.id%>"> <%= member.name%></option>
    <%end%>
    </select>
  <br>
  <br>

    <label for="gym_select">Gym Class:</label>
      <select
      type="number" name="gymclass_id" id="gymclass_id"
      <% @gymclasses.each do |gymclass| %>
      <option value="<%= gymclass.id%>"> <%= gymclass.gymclass_name%> <%=  gymclass.start_time%></option>
      <%end%>
      </select>


<br>
<br>
    <input type="submit" value="Book Class!">

  </form>




<br>
<hr>

<h3>Admin</h3>
<form action="/gymclasses/new"><input type="submit" value="Create a new gym class"></form>
<hr>
