<hr>
<h2> Gym Class: <%= @gymclass.gymclass_name %></h2>
<hr>
<p>Instructor: <%= @gymclass.instructor %></p>
<p>Capacity: <%= @gymclass.capacity %></p>
<p>Date: <%= @gymclass.class_date %></p>
<p>Schedule: <%= @gymclass.schedule %></p>
<p>Membership Tier: <%= @gymclass.member_tier %> </p>


<h3>Members Booked on Class:</h3>

<table>
  <tr>
    <th>Member Name</th>
  </tr>
  <tr>
    <% @gymclass.members.each do |member| %>
  <td>
    <%= member.name %>
  </td>
  </tr>
    <% end %>
</table>
<br>
<br>


<form action="/gymclasses/<%= @gymclass.id %>/edit"><input type="submit" value="Edit Class Details"></form>
<hr>
