<hr>
<h2> Gym Class: <%= @gymclass.gymclass_name %></h2>
<hr>
<br>
<p>Instructor: <%= @gymclass.instructor %></p>
<p>Capacity: <%= @gymclass.capacity %></p>
<p>Start Time: <%= @gymclass.start_time %></p>
<p>End Time: <%= @gymclass.end_time %></p>


<h3>Members Booked on Class:</h3>

<ul>
  <% @gymclass.members.each do |member| %>
  <li><%= member.name %></li>
  <% end %>
</ul>

<a href="/gymclasses/<%= @gymclass.id %>/edit">Edit Class Details</a>
<hr>
<form action="/gymclasses/<%= @gymclass.id %>/delete" method="POST"><input type="submit" value="Cancel Class"></form>
