<hr>
<h2>Bookings</h2>
<hr>

<table>
  <tr>
    <th>Name</th>
    <th>Class</th>
    <th>Date</th>
    <th>Time</th>
    <th>Cancel Class</th>
  </tr>
  <% for bookedclass in @bookedclasses %>
  <tr>
    <td><%= bookedclass.member_name%></td>
    <td align = "center"><%= bookedclass.gym_class_name%></td>
    <td align = "center"><%= bookedclass.gym_class_date%></td>
    <td align = "center"><%= bookedclass.gym_class_start_time%></td>
    <td align = "center"><form action="/bookedclasses/<%= bookedclass.id %>/delete" method="POST"><input type="submit" value="Cancel Class"></form></td>
  </tr>
  <% end %>
</table>

<hr>

<form action="/gymclasses"><input type="submit" value="Make a new booking"></form>
