<form method="post" action="/bookedclasses">

  <hr>
  <h2>Booking</h2>
  <hr>

  <label for="member_select">Member:</label>

  <select type="number" name="member_id" id="member_select">
  <% @members.each do |member| %>
    <option value=<%= member.id %>> <%= member.name %> (<%= member.membership_category%>)</option>
  <% end %>
  </select>
  <br>
  <br>

  <label for="gym_select">Gym Class:</label>
    <select type="number" name="gymclass_id" id="gym_select">
      <% @gymclasses.each do |gymclass| %>
    <option value=<%= gymclass.id%>> <%= gymclass.gymclass_name%> / <%=  gymclass.date_convert%> / <%=  gymclass.schedule%></option>
      <%end%>
</select>


<br>
<br>
<input type="submit" value="Book Class!">

</form>




<br>
<hr>
